body{
   background-color: blueviolet; 

}
h1{
    color:rgba(67, 23, 138, 0.671);
    background-color: rgb(255, 0, 51);
}
#show_sketch{
    float:right;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name:example;
    animation-duration: 4s;
    margin-top:50px;
    animation-iteration-count:infinite;

}
@keyframes example{
    from{box-shadow:1px 1px 38px gray;}
    to{box-shadow:1px 1px 38px white;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}